@import "../../assets/scss/app";

.gameOverPage {
  overflow: hidden;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  background-image: url(../../assets/jpg/dashboard-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-top: 50px;
  padding-bottom: 14px;

  @include desktop {
    padding-top: 56px;
    padding-bottom: 57px;
  }

  .group_mobile {
    @include onlyMobile;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  .group_desktop {
    @include onlyDesktop;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  .cucumber_left, .cucumber_right {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 80px;

    @include desktop {
      width: 200px;
    }
  }

  .cucumber_left {
    left: 0;
  }

  .cucumber_right {
    right: 0;
  }

  .title {
    position: relative;
    z-index: 3;
    @include border-black-3;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 200px;
    margin-left: auto;
    margin-right: auto;

    @include desktop {
      width: 300px;
      font-size: 60px;
      line-height: 74px;
    }

    &_1 {
      margin-top: 16px;

      @include desktop {
        margin-top: 1px;
      }
    }
  }

  .img {
    position: relative;
    z-index: 3;
    display: block;
    width: 299px;
    height: 154px;
    margin-left: auto;
    margin-right: auto;

    @include desktop {
      width: 912px;
      height: 470px;
      margin-top: -125px;
    }
  }

  .btn {
    position: relative;
    z-index: 3;
    @include button;
    background: radial-gradient(5.12% 19.92% at 92.14% 90.6%, rgba(239, 246, 33, 0.8) 0%, rgba(239, 246, 33, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(5.71% 38.74% at 98.57% 49.57%, #499000 0%, rgba(73, 144, 0, 0) 100%), radial-gradient(5.24% 22.38% at 2.14% 30.77%, rgba(239, 246, 33, 0.8) 0%, rgba(239, 246, 33, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(9.67% 65.38% at 5% 91.03%, #499000 0%, rgba(73, 144, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(180deg, #458D00 0%, #488D00 15.62%, #72B903 44.27%, #71B902 68.75%, #71BA02 100%);
    border: 5px solid #0E280E;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    margin-top: 28px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    height: 60px;

    @include desktop {
      width: 644px;
      height: 100px;
    }

    @include desktop {
      margin-top: 18px;
    }

    p {
      @include border-yellow-3;
      font-size: 30px;
      line-height: 37px;
      text-align: center;
      text-transform: uppercase;
      color: #000000;

      @include desktop {
        font-size: 45px;
        line-height: 56px;
      }
    }
  }

  .label {
    position: relative;
    z-index: 3;
    @include border-yellow-3;
    font-size: 60px;
    line-height: 74px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;

    @include desktop {
      @include border-yellow-10;
      margin-top: 22px;
      font-size: 80px;
      line-height: 99px;
    }
  }

}
